html{
    background-color:green;
}
#padpage{
    height:100%;
    padding:155px;
    margin:5%;
    border:6px solid black;
    border-radius:15px;
    background-color:antiquewhite;

}
.navbar{
    background-color:pink;
    border-radius:10px;
}
.MEH{
    display:inline;
    position:relative;
    top:100px;
    left:150px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:3rem;
}
.navbar img{
    position:relative;
    top:70px;
    height:300px;
    width:300px;
}
.navbar a{
    display:inline-block;
    position:relative;
    bottom:65px;
    height:80px;
    width:100px;
    text-align:center;
    padding:15px;
    border:2px solid black;
    border-radius:25%;
    background-color:darkgrey;
    color:black;
    margin:15px;  
}
.txtIn h1{
    display:inline-block;
    font-size:4rem;
}
.txtIn img{
    position:relative;
    top:10px;
    height:100px;
    width:200px;
}
.txtIn p{
    font-family:'Times New Roman', Times, serif;
    font-size:xx-large;
}

/*Perros Pagina CSS*/
.pDiv1 h1{
    font-size:4rem;
}
.pDiv1 table{
    position:relative;
    left:150px;
    bottom:45px;
    font-size:xx-large;
}
th,td{
    border:1px solid black;
}
th[colspan="8"]{
    background-color:palegoldenrod;
    padding:2%;
    height:100px;
}
th[rowspan="2"],th[colspan="4"]{
    background-color: azure;
    text-align:center;
}
td[colspan="2"]{
    background-color:tomato;
    text-align:center;
}
.pDiv2 h2{
    font-size:3rem;
}
.pDiv2 p{
    font-size:xx-large;
    text-align:center;
}

/*Gato Pagina CSS*/
.gDiv1{
    padding:0;
}
.gDiv1 h1{
    font-size:4rem;
}
.gDiv1 h2{
    font-size:2rem;
}
.gDiv1 h3,li{
    font-size:x-large;
}
.gDiv1 img{
    height:250px;
    width:250px;
    position:relative;
    left:900px;
    bottom:290px;
}
#padpage h4{
    display:inline;
    position:relative;
    left:250px;
    bottom:150px;
    font-size:3rem;
    margin:0;
    background-color: rgb(124, 124, 255);
}